name: 'postgres_postgres_small_aggregate'
description: 'Pipeline sync for aggregation'

# global column definition that will be used everywhere. Every stage with columns field will inherit these columns.
# This is an optional field. If not provided, every stage will have to define its own columns.
max_concurrent_partitions: 1
hash_algo: 'md5_sum_hash'
strategies:
  # Delta sync every 15 minutes
  - name: 'delta'
    type: 'delta'
    default: true
    partition_column: 'updated_at'
    max_concurrent_partitions: 1
    partition_step: 7200 # 2 hours
    sub_partition_step: 1800  # 30 minutes
    enabled: true
    cron: '*/15 * * * *'  # Every 15 minutes
    page_size: 10
    use_pagination: true
    use_sub_partition: false
  
  # Hash sync every 2 hours
  - name: 'hash'
    type: 'hash'
    default: true
    enabled: true
    partition_column: 'user_id'
    partition_step: 50
    sub_partition_step: 5
    max_concurrent_partitions: 1
    cron: '0 */2 * * *'  # Every 2 hours
    page_size: 10
    use_pagination: false
    use_sub_partition: true
    match_row_count: false
  
  # Full sync daily at 3 AM
  - name: 'full'
    type: 'full'
    default: true
    enabled: true
    partition_column: 'user_id'
    partition_step: 50
    sub_partition_step: 5
    max_concurrent_partitions: 1
    page_size: 10
    cron: '0 3 * * *'  # Daily at 3 AM
    use_pagination: false
    use_sub_partition: true

backends:
  - name: 'source_backend'
    type: 'postgres'
    datastore_name: 'local_postgres'
    table: 'orders'
    # alias: 'u'
    schema: 'public'
    # join:
    #   - table: 'user_profiles_small'
    #     alias: 'p'
    #     'on': 'u.id = p.user_id'
    #     type: 'left'
    filters: []
    hash_columns: ['user_id', 'amount', 'discount']
    columns:
      - name: 'user_id'
        dtype: 'integer'
        unique_column: true
      - name: 'amount'
        dtype: 'decimal'
      - name: 'discount'
        dtype: 'decimal'

  - name: 'destination_backend'
    type: 'postgres'
    datastore_name: 'local_postgres'
    table: 'orders_aggregate'
    schema: 'public_copy'
    hash_key: checksum_int
    columns:
      - name: 'user_id'
      - name: 'total_amount'
        expr: 'amount'
      - name: 'total_discount'
        expr: 'discount'
      - name: 'num_orders'
      - name: 'checksum_int'

stages:
  - name: 'partition_generator'
    type: 'partition'
    enabled: true
    source:
      name: source_backend
    destination:
      name: destination_backend
  - name: 'change_detection'
    type: 'change_detection'
    enabled: true
    source:
      name: source_backend
    destination:
      name: destination_backend
  - name: 'hash_fetch'
    type: 'data_fetch'
    enabled: true
    source:
      name: source_backend
      columns:
        - name: 'user_id'
        - name: 'amount'
          data_column: false
        - name: 'discount'
          data_column: false
        - name: 'num_orders'
          expr: 'count(1)'
        - name: 'total_amount'
          expr: 'sum(amount)'
        - name: 'total_discount'
          expr: 'sum(discount)'
      group_by: ['user_id']
    destination:
      name: destination_backend
  - name: 'hash_batcher'
    type: 'batcher'
    enabled: true
    config:
      target_batch_size: 10
  # - name: 'transformation'
  #   type: 'transform'
  #   enabled: true
  #   transformations:
  #     - columns:
  #         - first_name
  #         - last_name
  #       transform: 'lambda x: x["first_name"]+" "+x["last_name"]'
  #       expr: 'name'
  #       dtype: 'varchar'
  #     - columns:
  #         - uid
  #       transform: 'lambda x: str(x["uid"])'
  #       expr: 'uid'
  #       dtype: 'uuid_text_dash'
  - name: 'populate'
    type: 'populate'
    enabled: true
    destination:
      name: destination_backend
    
    # config:
    #   batch_size: 10000
    #   batch_timeout: 10
    #   batch_timeout_unit: 'seconds'
    #   batch_timeout_value: 10
    #   batch_timeout_unit: 'seconds'
  # - name: 'custom'
  #   type: 'custom'
  #   enabled: true
  #   class_path: 'synctool.enrichment.enrichment_engine.EnrichmentEngine'
  #   config:
  #     transformations:
  #       - columns:
  #           - first_name
  #           - last_name
  #         transform: 'lambda x: x["last_name"].upper()'
  #         dest: 'last_name'
  #         dtype: 'varchar'

