name: 'postgres_uuid_sync'
description: 'Scheduled sync from Postgres to Postgres with cron expressions'
max_concurrent_partitions: 1

source_provider:
  data_backend:
    type: 'postgres'
    datastore_name: 'local_postgres'
    table: 'users1'
    alias: 'u'
    schema: 'public'
    join:
      - table: 'user_profiles1'
        alias: 'p'
        'on': 'u.id = p.user_id'
        type: 'left'
    filters: []

destination_provider:
  data_backend:
    type: 'postgres'
    datastore_name: 'local_postgres'
    table: 'user_profile1'
    schema: 'public_copy'
    supports_update: true

column_map:
  - name: 'user_id'
    src: 'u.id'
    dest: 'user_id'
    unique_column: true
    order_column: true
    data_type: 'uuid'
    direction: 'asc'
  - name: 'first_name'
    src: 'u.first_name'
    dest: 'first_name'
    insert: false
    data_type: 'varchar'
  - name: 'created_at'
    src: 'u.created_at'
    dest: 'source_created_at'
    data_type: 'datetime'
  - name: 'updated_at'
    src: 'u.updated_at'
    dest: 'source_updated_at'
    data_type: 'datetime'
  - name: 'email'
    src: 'p.email'
    dest: 'email'
    data_type: 'varchar'
  - name: 'last_name'
    src: 'u.last_name'
    dest: 'last_name'
    insert: false
  - name: 'status'
    src: 'u.status'
    dest: 'status'
  - name: 'name'
    src: null
    dest: 'name'
  - name: 'checksum'
    src: null
    dest: 'checksum'
    data_type: 'varchar'
    hash_key: true
  - name: 'bio'
    src: 'p.bio'
    dest: 'bio'
    data_type: 'text'

partition_column: 'user_id'
partition_step: 90000000 # will create around 50 main partitions

strategies:
  # Delta sync every 15 minutes
  - name: 'delta'
    type: 'delta'
    column: 'updated_at'
    sub_partition_step: 3600  # 1 hour
    enabled: true
    cron: '*/15 * * * *'  # Every 15 minutes
    page_size: 100
    use_pagination: true
    use_sub_partition: false
  
  # Hash sync every 2 hours
  - name: 'hash'
    type: 'hash'
    enabled: true
    column: 'user_id'
    sub_partition_step: 9000000 # will create 10 sub partitions in each main partition
    cron: '0 */2 * * *'  # Every 2 hours
    page_size: 10  
  
  # Full sync daily at 3 AM
  - name: 'full'
    type: 'full'
    enabled: true
    column: 'user_id'
    sub_partition_step: 9000000 # will create 10 sub partitions in each main partition
    page_size: null
    use_pagination: false
    cron: '0 3 * * *'  # Daily at 3 AM
  

enrichment:
  enabled: true
  transformations:
    - columns:
        - first_name
        - last_name
      transform: 'lambda x: x["first_name"]+" "+x["last_name"]'
      dest: 'name'
      data_type: 'integer'
    - columns:
        - hash__
      transform: 'lambda x: x["hash__"]'
      dest: 'checksum'
      data_type: 'varchar'
