name: 'postgres_uuid_sync'
description: 'Scheduled sync from Postgres to Postgres with cron expressions'
max_concurrent_partitions: 1

source_provider:
  data_backend:
    type: 'postgres'
    connection:
      host: 'localhost'
      port: 5432
      dbname: 'synctool'
      user: 'rohitanand'
      password: ''
    table: 'users1'
    alias: 'u'
    schema: 'public'
    join:
      - table: 'user_profiles1'
        alias: 'p'
        'on': 'u.id = p.user_id'
        type: 'left'
    filters: []

destination_provider:
  data_backend:
    type: 'postgres'
    connection:
      host: 'localhost'
      port: 5432
      dbname: 'synctool'  
      user: 'rohitanand'
      password: ''
    table: 'user_profile1'
    schema: 'public_copy'
    supports_update: true

column_map:
  - name: 'user_id'
    src: 'u.id'
    dest: 'user_id'
    unique_key: true
    order_key: true
    dtype: 'uuid'
    direction: 'asc'
  - name: 'first_name'
    src: 'u.first_name'
    dest: 'first_name'
    insert: false
    dtype: 'varchar'
  - name: 'created_at'
    src: 'u.created_at'
    dest: 'source_created_at'
    dtype: 'datetime'
  - name: 'updated_at'
    src: 'u.updated_at'
    dest: 'source_updated_at'
    dtype: 'datetime'
  - name: 'email'
    src: 'p.email'
    dest: 'email'
    dtype: 'varchar'
  - name: 'last_name'
    src: 'u.last_name'
    dest: 'last_name'
    insert: false
  - name: 'status'
    src: 'u.status'
    dest: 'status'
  - name: 'name'
    src: null
    dest: 'name'
  - name: 'checksum'
    src: null
    dest: 'checksum'
    dtype: 'varchar'
    hash_key: true
  - name: 'bio'
    src: 'p.bio'
    dest: 'bio'
    dtype: 'text'

partition_key: 'user_id'
partition_step: 45000000

strategies:
  # Delta sync every 15 minutes
  - name: 'delta'
    type: 'delta'
    column: 'updated_at'
    sub_partition_step: 60*60  # 1 hour
    enabled: true
    cron: '*/15 * * * *'  # Every 15 minutes
    page_size: 10
  
  # Hash sync every 2 hours
  - name: 'hash'
    type: 'hash'
    enabled: true
    column: 'user_id'
    sub_partition_step: 10
    cron: '0 */2 * * *'  # Every 2 hours
    page_size: 10
  
  # Full sync daily at 3 AM
  - name: 'full'
    type: 'full'
    enabled: true
    column: 'user_id'
    sub_partition_step: 4500000
    page_size: null
    use_pagination: false
    cron: '0 3 * * *'  # Daily at 3 AM
  

enrichment:
  enabled: true
  transformations:
    - columns:
        - first_name
        - last_name
      transform: 'lambda x: x["first_name"]+" "+x["last_name"]'
      dest: 'name'
      dtype: 'integer'
    - columns:
        - hash__
      transform: 'lambda x: x["hash__"]'
      dest: 'checksum'
      dtype: 'varchar'
